.modulo-chat{
    display: grid;
    grid-template-columns: 100px 250px 300px 250px;
    background: #ffffff;
    box-shadow: 2px 2px 3px 3px #e9e9e9;
    width: 900px;
    height: 80px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #c0c0c0;
    margin: auto;
}

.modulo-chat:hover{
    box-shadow: 2px 2px 3px 3px #c0c0c0;
    transition: all 0.2s ease;
}

.elemento-chat{
    margin-top: auto;
    margin-bottom: auto;
}

.botones-chat{
    display: grid;
    grid-template-columns: 45% auto;
    grid-column-gap: 10px;
    padding: 20px;
}
